* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: #f6f6f6;
}
.container {
  max-width: 1080px;
  margin: 0 auto;
}
.header {
  width: 100%;
  background: #2f4858;
}
.header .container {
  display: flex;
  align-items: center;
  height: 80px;
}
.header .container .logo {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .container h1 {
  text-transform: uppercase;
  color: white;
}
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.box {
  width: 300px;
  height: 150px;
  margin: 20px 0;
  padding: 10px;
  border-radius: 20px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 2px 2px 10px rgb(163, 163, 163);
}
.box:hover {
  transform: scale(1.1);
}
.box .name {
  font-size: 18px;
  text-align: center;
}
.btn {
  margin: 40px auto;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(74, 235, 227);
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
  transition: 0.2s;
}
.btn:hover {
  transform: scale(1.2);
}
.container .sectionTitle {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0;
}
.authors{
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.author{
    padding: 20px 50px;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 2px 2px 10px grey;
    display: flex;
    justify-content: space-around;

}
.author .img img{
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.inf{
    line-height: 30px;
}
.inf h1{
    margin-bottom: 10px;
}


@media only screen and (max-width: 800px) and (min-width: 400px) {
  .header .container h1 {
    text-transform: uppercase;
    color: white;
    font-size: 25px;
  }
}

@media only screen and (max-width: 650px) {
  .header .container h1 {
    text-transform: uppercase;
    color: white;
    font-size: 20px;
  }
}
